<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <style>
    label{
        font-size: 1.3em;
    }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Create New Cheap Shop Information</h1>
    </div>
    <form action="/create" method="POST">
        <label for='name'><b>Shop Name*:</b></label><br>
        <input type="text" id="name" name="name" placeholder="Please input shop name"><br><br>
        <label for='shopID'><b>Shop ID*:</b></label><br>
        <input type="text" id="shopID" name="shopID" placeholder="Input shopID" pattern="[0-9]{8}"><br>
        <small>Format: 12345678 (Only input numbers)</small><br><br>
        <label for='subdistrict'><b>Sub District:</b></label><br>
        <input type="text" id="subdistrict" name="subdistrict" placeholder="e.g. Sham Shui Po"><br><br>
        <label for='buildingname'><b>Building Name:</b></label><br>
        <input type="text" id="building" name="building" placeholder="e.g. Da Sing Mansion"><br><br>
        <label for='shopcontactno.'><b>Shop Contact No.:</b></label><br>
        <input type="text" id="number" name="number" placeholder="Telephone number of shop" pattern="[0-9]{8}"><br>
        <small>Format: 68765432</small><br><br>
        <label for='cheapitemscategory'><b>Cheap Items Category:</b></label><br>
        <input type="text" id="cheapitemscategory" name="cheapitemscategory" placeholder="e.g. Vegetables"><br><br>
        <label for='description'><b>Description:</b></label><br>
        <textarea name="description" id="description" cols="50" rows="10" placeholder="Add more details..."></textarea><br>
        </p>
        <input type="submit" value="Create" /> 
    </form>    
</body>
</html>
